
<br>

<H1> <b> Assalamu Alaykum... <br> <br> <br> Welcome to the <a href="https://icterguru.herokuapp.com/">ICTER Guru</a>
Online Forum </b> </H1>



<br>
আইসিটিইআর গুরু (ICTER Guru) অনলাইন ফোরামে আপনাকে স্বাগতম!
<br>
ICTER (Information and Communication Technology in Education and Research) Guru
<br>
আইসিটিইআর গুরু – শিক্ষা এবং গবেষণায় তথ্য ও যোগাযোগ প্রযুক্তি ব্যবহারের একটি অনলাইন ফোরাম
<br>
Software Development, QA Testing ম্যানুয়াল এবং অটোমেশন টেস্টিং ট্রেনিং (একটি ইন্টিগ্রেটেড অনলাইন & F2F কোর্স) এর জন্য যোগাযোগ করুন

<br>
Please contact for QA Manual & Automation Testing Training (An Integrated Online & F2F Course)  Training

<br>
বিস্তারিত তথ্যের জন্য যোগাযোগ করুন:
<br>
Email: icterguru@gmail.com, info@icterguru.com
<br>
Web: https://icterguru.com
<br>
Facebook: facebook.com/icterGuru
<br>
YouTube Channel: youtube.com/icterGuru
<br>
পরিচালনায়:
<br>
ICTER Guru – আইসিটিইআর গুরু – শিক্ষা এবং গবেষণায় তথ্য ও যোগাযোগ প্রযুক্তি ব্যবহারের একটি অনলাইন ফোরাম
<br>
Welcome to the Information and Communication Technology in Education and Research (ICTER) Guru Online Forum.
<br>
In this page, we discuss our plan, procedures, and implementation of Effective usages and practices of using  Information and Communication Technology in Education and Research (ICTER) purposes.
<br>
Have questions, comments, or suggestion? Please let us know.
<br>
Thank you so much!
<br>
ICTERGuru Administrator.

<br>

<h1> <b> <br>  <a href="https://icterguru.herokuapp.com/"> Production Home Page</a> </b> </h1>
<h1> <b> <br>  <a href="https://icterguru.herokuapp.com/contact"> Production Contact Page</a> </b> </h1>
<h1> <b> <br>  <a href="https://icterguru.herokuapp.com/articles"> Production Articles Page</a> </b> </h1>
<h1> <b> <br>  <a href="https://icterguru.herokuapp.com/journals"> Production Journals Page</a> </b> </h1>
